<!DOCTYPE html>
<head>
    <title>Login</title>
</head>

<body>
    
    <form action="verifyLogin" method="POST">
        <table align="center">
            <tr>
                <th><h1 align="center">Login to Participant Feedback</h1></th>
            </tr>

            <tr>
                <td>Email Address</td>
                <td><input type="email" name="uemail"></td>
            </tr>

            <tr>
                <td>Password</td>
                <td><input type="password" name="upassword"></td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit" value="Login"></td>
            </tr>

            <tr>
                <td colspan="2" align="center">New to this feedback website?<a href="/registerParticipant/">Register Here</a></td>
            </tr>
        </table>
    </form>

</body>
</html>