<!DOCTYPE html>

<head>
    <title>Register Participant</title>
</head>

<body>
    
    <form action="login" method="POST">

        <table align="center">

            <tr>
                <th><h1>Register Yourself</h1></th>
            </tr>

            <tr>
                <td>NAME</td>
                <td><input type="text" name="uname"></td>
            </tr>

            <tr>
                <td>Team Name</td>
                <td><input type="text" name="uteamname"></td>
            </tr>

            <tr>
                <td>Email Address</td>
                <td><input type="email" name="uemail" id=""></td>
            </tr>

            <tr>
                <td>Password</td>
                <td><input type="password" name="upassword"></td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit" value="Register"></td>
            </tr>

        </table>

    </form>

</body>

</html>